{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit Recipe</h1>

    {{ form_start(editrecipeform) }}
    {{ form_widget(editrecipeform) }}
    {{ form_end(editrecipeform) }}


{% endblock %}