{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipe here!!</h1>

    {{ form_start(newRecipe) }}
    {{ form_widget(newRecipe) }}
    {{ form_end(newRecipe) }}

    <!-- <button type="submit" class="btn btn-success">Add Recipe</button> -->
{% endblock %}

